<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Java Script - Understanding the weird parts</title>
<script type="text/javascript">
	    $(function(){
	    $("#includeChapter1_js").load("view/course/javaScript/1_started/chapter.html");
	    $("#includeChapter2_js").load("view/course/javaScript/2_core/chapter.html");
	    $("#includeChapter3_js").load("view/course/javaScript/3_objects/chaptert.html");
	    $("#includeChapter4_js").load("view/course/javaScript/4_oop/chapter.html");
	    $("#includeChapter5_js").load("view/course/javaScript/5_project/chapter.html");
    });
</script>
</head>
<body>
	<h2>Java Script</h2>
	<div class="boxDiv chapterDiv" id="includeChapter1_js"></div>
	<div class="boxDiv chapterDiv" id="includeChapter2_js"></div>
	<div class="boxDiv chapterDiv" id="includeChapter3_js"></div>
	<div class="boxDiv chapterDiv" id="includeChapter4_js"></div>
	<div class="boxDiv chapterDiv" id="includeChapter5_js"></div>
</body>
</html>