<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Complete Web Devloper Course</title>
<script type="text/javascript">
	    $(function(){
	    $("#includeChapter1").load("view/course/webDeveloper/1_html/chapter.html");
	    $("#includeChapter2").load("view/course/webDeveloper/2_css/chapter.html");
	    $("#includeChapter3").load("view/course/webDeveloper/3_javaScript/chapter.html");
      $("#includeChapter4").load("view/course/webDeveloper/4_jquery/chapter.html");
      $("#includeChapter5").load("view/course/webDeveloper/5_bootstrap/chapter.html"); 
      $("#includeChapter7").load("view/course/webDeveloper/7_php/chapter.html"); 
      $("#includeChapter9").load("view/course/webDeveloper/9_mobile/chapter.html"); 
    });
</script>
</head>
<body>
	<h2>Complete Web Developer Course</h2>
	<div class="boxDiv chapterDiv" id="includeChapter1"></div>
	<div class="boxDiv chapterDiv" id="includeChapter2"></div>
	<div class="boxDiv chapterDiv" id="includeChapter3"></div>
	<div class="boxDiv chapterDiv" id="includeChapter4"></div>
	<div class="boxDiv chapterDiv" id="includeChapter5"></div>
	<div class="boxDiv chapterDiv" id="includeChapter7"></div>
	<div class="boxDiv chapterDiv" id="includeChapter9"></div>
</body>
</html>