@CHARSET "UTF-8";

.boxDiv {
	float: left;
	border: 1px solid white;
	border-radius: 5px;
	margin: 5px;
	padding: 5px;
}

.chapterDiv {
	list-style: none;
	background-color: white;
}

.courseDiv {
	widht: 100%;
	background-color: lightGrey;
}